<div class="modal-header">
    <h4 class="modal-title pull-left">{{book?.Title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Title: {{book?.Title}}</p>
    <p>Author: {{book?.Author}}</p>
    <p>Publishing Year: {{book?.YearPublishing}}</p>
    <p>Publishing House: {{book?.HousePublishing}}</p>
    <p>ISBN: {{book?.ISBN}}</p>
    <p>Price: {{book?.Price}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Back</button>
</div>